/* section4.css */

/* Estilos da Seção Tester */
#section4.tester-section {
    position: relative;
    height: calc(100vh);
    min-height: calc(100vh);
    min-width: 100%;
    margin: 0;
    padding: 0;
    background: url('../assets/background-2.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card centralizado */
#section4.tester-section .card {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
    height: fit-content;
}

#section4.tester-section .card h2 {
    color: #465EFF;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

#section4.tester-section .card .subtitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

/* Estilização do Formulário */
#section4.tester-section .card form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#section4.tester-section .card .form-group {
    display: flex;
    flex-direction: column;
}

#section4.tester-section .card label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#section4.tester-section .card input {
    padding: 10px;
    border: 2px solid #465EFF;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

#section4.tester-section .card input:focus {
    outline: none;
    border-color: #3333BD;
    box-shadow: 0 0 5px rgba(70, 94, 255, 0.5);
}

/* Botão de Cadastro */
#section4.tester-section .card .btn-cadastrar {
    padding: 12px;
    background-color: #465EFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

#section4.tester-section .card .btn-cadastrar:hover {
    background-color: #3333BD;
}

/* Media Queries para Mobile */
@media only screen and (max-width: 768px) {

    /* Ajusta o container da seção para acomodar conteúdo variável */
    #section4.tester-section {
        height: auto;
        padding: 20px;
    }

    /* Reduz o padding e o margin do card, além de ajustar a largura máxima */
    #section4.tester-section .card {
        padding: 20px;
        margin: 10px;
        max-width: 90%;
    }

    /* Diminui o tamanho do título e da legenda */
    #section4.tester-section .card h2 {
        font-size: 2rem;
    }

    #section4.tester-section .card .subtitle {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    /* Ajusta inputs e botão para melhor leitura */
    #section4.tester-section .card input {
        font-size: 0.9rem;
    }

    #section4.tester-section .card .btn-cadastrar {
        font-size: 1rem;
        padding: 10px;
    }
}