/* section1.css */

/* Estilos da Seção 1 */
#section1 {
    position: relative;
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    min-width: 100%;
    margin: 0;
    padding: 0;
    background: url('../assets/background2.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section1-content {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
}

.section1-content h2 {
    font-family: 'BancoDoBrasilTitulos', sans-serif;
    color: #465EFF;
    font-size: 70px;
    text-align: left;
    line-height: 1.1;
    
}

.section1-content .titulo {
    text-align: left;
    font-size: 40px;
    color: #465EFF;
    margin-bottom: 40px;
    margin-top: 10px;
    font-family: 'BancoDoBrasilTextos', sans-serif;
}

.section1-content p {
    text-align: justify;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #465EFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.cta-button:hover {
    background-color: #3333BD;
}

/* Media Queries para Mobile */
@media only screen and (max-width: 768px) {

    /* Ajustes na seção */
    #section1 {
        height: auto;
        min-height: auto;
        padding: 20px;
    }

    /* Redução do tamanho do logo */
    #section1 img.logo {
        width: 200px;
        top: 10px;
        right: 5px;
    }

    /* Centralizando o conteúdo e removendo o posicionamento absoluto */
    .section1-content {
        position: static;
        transform: none;
        max-width: 100%;
        text-align: center;
        padding: 20px;
        margin: 0 auto;
    }

    .section1-content h2 {
        font-size: 2rem;
        text-align: center;
    }

    .section1-content p {
        text-align: center;
    }

    /* Ajustando o botão de CTA */
    .cta-button {
        position: static;
        transform: none;
        margin: 20px auto;
        left: auto;
        display: block;
    }
}